<% content_for :subtitle do %>
    <h2>Tibia xp calculator</h2>
<% end %>

<section class="main-form">
  <%= form_tag calculate_path do %>

      <div class="form-group">
        <div class="input-group">
          <div class="styled-select slate">
            <%= select_tag :creature,
                           options_from_collection_for_select(
                               Creature.all,
                               :id,
                               :name
                           ), include_blank: 'Pick a monster' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <input id="party_size" placeholder="members" type="text">
        </div>
        <div class="form-helper">How many members in your party? Ex: 2</div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input id="diff_vocations" placeholder="vocations" type="text">
        </div>
        <div class="form-helper">How many different vocations in your party? Ex: 2</div>
      </div>
      <div class="form-group">
        <%= submit_tag 'Calculate', class: 'button' %>
      </div>
  <% end %>
</section>
